* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.backRed {
  background-color: #e94e34;
  width: 250px;
  height: 200px;
  position: absolute;
  text-align: center;
  transform: translateX(200%) translateY(100%);
  border-radius: 10px;
}

.backWhite {
  background-color: #ebebeb;
  width: 200px;
  height: 200px;
  position: relative;
  text-align: center;
  transform: translateX(13%);
}

.frontRight {
  background-color: #e94d34;
  padding: 15px;
  position: relative;
  transform: rotateZ(35deg);
  right: 25px;
  top: 37px;
  width: 150px;
  border-radius: 10px 0 0 10px;
}

.frontLeft {
  background-color: #e94d34;
  padding: 15px;
  position: relative;
  transform: rotateZ(-37deg);
  left: 81px;
  top: 7px;
  width: 144px;
  border-radius: 0 10px 10px 0;
}
